<li class="list-group-item">
  <span class="glyphicon glyphicon-remove"></span>
  <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
  <% if a.trackable %>
    <%= a.trackable.medname[0] %> (<%= a.trackable.inventoryid %>)'s dispensal to <%= a.trackable.firstname[0] %> <%= a.trackable.lastname[0] %> (<%= a.trackable.patientsid %>) was deleted.
  <% else %>
    A dispensal was deleted.
  <% end %>
</li>