<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@provider) do |f| %>
      <% if @provider.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>
    
          <ul>
          <% @provider.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="field">
        <%= f.label "Doctor ID" %><br>
        <%= f.number_field :drid, class: 'form-control', :readonly => true %>
      </div>
      <div class="field">
        <%= f.label "First Name" %><br>
        <%= f.text_field :firstname, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Last Name" %><br>
        <%= f.text_field :lastname, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit "Create Provider", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>