<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@inventory) do |f| %>
      <% if @inventory.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>
    
          <ul>
          <% @inventory.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="field">
        <%= f.label "Inventory ID" %><br>
        <%= f.number_field :invid, class: 'form-control', :readonly => true %>
      </div>
      <div class="field">
        <%= f.label "Lot Number" %><br>
        <%= f.text_field :lotno, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Expiration Date" %><br>
        <%= f.date_select :expdate, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Current Stock" %><br>
        <%= f.text_field :currentstock, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Inventory Type" %><br>
        <%= f.text_field :inventorytype, class: 'form-control', :readonly => true %>
      </div>
      <div class="field">
        <%= f.label "Date to Reorder" %><br>
        <%= f.date_select :datetoreorder, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Medication RxNorm NDC" %><br>
        <%= f.text_field :medicationsrxnormndc, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit "Create Inventory", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>