<%# app/views/students/_list.html.erb %>
<div id="filterrific_results">

  <div>
    <%= page_entries_info inventories %>
  </div>

  <table>
    <tr>
      <th>Inventory ID</th>
      <th>Lot Number</th>
      <th>Expiration Date</th>
      <th>Date to Reorder</th>
      <th>Medications RxNorm NDC</th>
      <th>Minimum Stock</th>
      <th colspan="3"></th>
    </tr>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.invid %></td>
        <td><%= inventory.lotno %></td>
        <td><%= inventory.expdate %></td>
        <td><%= inventory.datetoreorder %></td>
        <td><%= inventory.medicationsrxnormndc %></td>
        <td><%= inventory.minstock %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>
  
<%= will_paginate inventories %>