<p id="notice"><%= notice %></p>

<p>
  <strong>Invid:</strong>
  <%= @inventory.invid %>
</p>

<p>
  <strong>Lotno:</strong>
  <%= @inventory.lotno %>
</p>

<p>
  <strong>Expdate:</strong>
  <%= @inventory.expdate %>
</p>

<p>
  <strong>Currentstock:</strong>
  <%= @inventory.currentstock %>
</p>

<p>
  <strong>Inventorytype:</strong>
  <%= @inventory.inventorytype %>
</p>

<p>
  <strong>Datetoreorder:</strong>
  <%= @inventory.datetoreorder %>
</p>

<p>
  <strong>Medicationsrxnormndc:</strong>
  <%= @inventory.medicationsrxnormndc %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
