<p id="notice"><%= notice %></p>

<p>
  <strong>Invid:</strong>
  <%= @inventory.invID %>
</p>

<p>
  <strong>Lot no:</strong>
  <%= @inventory.lot_no %>
</p>

<p>
  <strong>Exp date:</strong>
  <%= @inventory.exp_date %>
</p>

<p>
  <strong>Current stock:</strong>
  <%= @inventory.current_stock %>
</p>

<p>
  <strong>Type:</strong>
  <%= @inventory.type %>
</p>

<p>
  <strong>Date to reorder:</strong>
  <%= @inventory.date_to_reorder %>
</p>

<p>
  <strong>Medications rxnorm ndc:</strong>
  <%= @inventory.medications_rxnorm_ndc %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
