<p id="notice"><%= notice %></p>

<h1>Listing Patient Applications</h1>

<table>
  <thead>
    <tr>
      <th>Patients ptid</th>
      <th>Pharm manufacturers phid</th>
      <th>Medications rxnorm ndc</th>
      <th>App status</th>
      <th>Date init</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient_applications.each do |patient_application| %>
      <tr>
        <td><%= patient_application.patients_ptID %></td>
        <td><%= patient_application.pharm_manufacturers_phID %></td>
        <td><%= patient_application.medications_rxnorm_ndc %></td>
        <td><%= patient_application.app_status %></td>
        <td><%= patient_application.date_init %></td>
        <td><%= link_to 'Show', patient_application %></td>
        <td><%= link_to 'Edit', edit_patient_application_path(patient_application) %></td>
        <td><%= link_to 'Destroy', patient_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient application', new_patient_application_path %>
