<%= form_for(@prescription) do |f| %>
  <% if @prescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
      <% @prescription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rxid %><br>
    <%= f.number_field :rxid %>
  </div>
  <div class="field">
    <%= f.label :dose %><br>
    <%= f.text_field :dose %>
  </div>
  <div class="field">
    <%= f.label :frequencytaken %><br>
    <%= f.text_field :frequencytaken %>
  </div>
  <div class="field">
    <%= f.label :routetaken %><br>
    <%= f.text_field :routetaken %>
  </div>
  <div class="field">
    <%= f.label :dategiven %><br>
    <%= f.date_select :dategiven %>
  </div>
  <div class="field">
    <%= f.label :medicationsrxnormndc %><br>
    <%= f.text_field :medicationsrxnormndc %>
  </div>
  <div class="field">
    <%= f.label :providersdrid %><br>
    <%= f.number_field :providersdrid %>
  </div>
  <div class="field">
    <%= f.label :patientsptid %><br>
    <%= f.number_field :patientsptid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
