<p id="notice"><%= notice %></p>

<h1>Listing Prescriptions</h1>

<table>
  <thead>
    <tr>
      <th>Rxid</th>
      <th>Dose</th>
      <th>Frequencytaken</th>
      <th>Routetaken</th>
      <th>Dategiven</th>
      <th>Medicationsrxnormndc</th>
      <th>Providersdrid</th>
      <th>Patientsptid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prescriptions.each do |prescription| %>
      <tr>
        <td><%= prescription.rxid %></td>
        <td><%= prescription.dose %></td>
        <td><%= prescription.frequencytaken %></td>
        <td><%= prescription.routetaken %></td>
        <td><%= prescription.dategiven %></td>
        <td><%= prescription.medicationsrxnormndc %></td>
        <td><%= prescription.providersdrid %></td>
        <td><%= prescription.patientsptid %></td>
        <td><%= link_to 'Show', prescription %></td>
        <td><%= link_to 'Edit', edit_prescription_path(prescription) %></td>
        <td><%= link_to 'Destroy', prescription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prescription', new_prescription_path %>
