<p id="notice"><%= notice %></p>

<p>
  <strong>Rxid:</strong>
  <%= @prescription.rxid %>
</p>

<p>
  <strong>Dose:</strong>
  <%= @prescription.dose %>
</p>

<p>
  <strong>Frequencytaken:</strong>
  <%= @prescription.frequencytaken %>
</p>

<p>
  <strong>Routetaken:</strong>
  <%= @prescription.routetaken %>
</p>

<p>
  <strong>Dategiven:</strong>
  <%= @prescription.dategiven %>
</p>

<p>
  <strong>Medicationsrxnormndc:</strong>
  <%= @prescription.medicationsrxnormndc %>
</p>

<p>
  <strong>Providersdrid:</strong>
  <%= @prescription.providersdrid %>
</p>

<p>
  <strong>Patientsptid:</strong>
  <%= @prescription.patientsptid %>
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
