<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@application) do |f| %>
      <% if @application.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>
    
          <ul>
          <% @application.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="field">
        <%= f.label "Patient ID" %><br>
        <%= f.number_field :patientsptid, class: 'form-control', :readonly => true %>
      </div>
      <div>
        <label>Patient Name</label>
        <p><% @application.firstname.each do |firstname| %><%= firstname %> <% end %><% @application.lastname.each do |lastname| %><%= lastname %><% end %></p>
      </div>
      <div class="field">
        <%= f.label "Pharmaceutical Manufacturer ID" %><br>
        <%= collection_select(:application, :pharmmanufacturersphid, PharmManufacturer.all, :phid, :manufacturer) %>
      </div>
      <div class="field">
        <%= f.label "Medication RxNorm NDC" %><br>
        <%= collection_select(:application, :medicationsrxnormndc, MedicationsRxNorm.all, :ndc, :medname) %>
      <div class="field">
        <%= f.label "Application Status" %><br>
        <%= f.select :appstatus, options_for_select([['Holding', 'Holding'], ['Progress', 'Progress'], ['Pending', 'Pending'], ['Accepted', 'Accepted'], ['Received', 'Received']], @application.appstatus) %>
      </div>
      <div class="field">
        <%= f.label "Date Initiated" %><br>
        <%= f.date_select :dateinit, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit "Create Application", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>