<p id="notice"><%= notice %></p>

<h1>Listing Applications</h1>

<table>
  <thead>
    <tr>
      <th>Patients ptid</th>
      <th>Pharm manufacturers phid</th>
      <th>Medications rxnorm ndc</th>
      <th>App status</th>
      <th>Date init</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.patients_ptID %></td>
        <td><%= application.pharm_manufacturers_phID %></td>
        <td><%= application.medications_rxnorm_ndc %></td>
        <td><%= application.app_status %></td>
        <td><%= application.date_init %></td>
        <td><%= link_to 'Show', application %></td>
        <td><%= link_to 'Edit', edit_application_path(application) %></td>
        <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_application_path %>
