<p id="notice"><%= notice %></p>

<p>
  <strong>Patients ID:</strong>
  <%= @application.patientsptid %>
</p>

<p>
  <strong>Patient Name:</strong>
  <% @application.firstname.each do |firstname| %><%= firstname %> <% end %><% @application.lastname.each do |lastname| %><%= lastname %><% end %>
</p>

<p>
  <strong>Pharmaceutical Manufacturer ID:</strong>
  <%= @application.pharmmanufacturersphid %>
</p>

<p>
  <strong>Pharmaceutical Manufacturer:</strong>
  <% @application.manufacturer.each do |manufacturer| %><%= manufacturer %> <% end %>
</p>

<p>
  <strong>Medication RxNorm NDC:</strong>
  <%= @application.medicationsrxnormndc %>
</p>

<p>
  <strong>Medicine Name:</strong>
  <% @application.medname.each do |medname| %><%= medname %> <% end %>
</p>

<p>
  <strong>Application Status:</strong>
  <%= @application.appstatus %>
</p>

<p>
  <strong>Date Initiated:</strong>
  <%= @application.dateinit %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
