<p id="notice"><%= notice %></p>

<h1>Listing Pharm Manufacturers</h1>

<table>
  <thead>
    <tr>
      <th>Phid</th>
      <th>Manufacturer</th>
      <th>Min income</th>
      <th>Months reorder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pharm_manufacturers.each do |pharm_manufacturer| %>
      <tr>
        <td><%= pharm_manufacturer.phID %></td>
        <td><%= pharm_manufacturer.manufacturer %></td>
        <td><%= pharm_manufacturer.min_income %></td>
        <td><%= pharm_manufacturer.months_reorder %></td>
        <td><%= link_to 'Show', pharm_manufacturer %></td>
        <td><%= link_to 'Edit', edit_pharm_manufacturer_path(pharm_manufacturer) %></td>
        <td><%= link_to 'Destroy', pharm_manufacturer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pharm manufacturer', new_pharm_manufacturer_path %>
