<p id="notice"><%= notice %></p>

<p>
  <strong>Phid:</strong>
  <%= @pharm_manufacturer.phid %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @pharm_manufacturer.manufacturer %>
</p>

<p>
  <strong>Minincome:</strong>
  <%= @pharm_manufacturer.minincome %>
</p>

<p>
  <strong>Monthsreorder:</strong>
  <%= @pharm_manufacturer.monthsreorder %>
</p>

<%= link_to 'Edit', edit_pharm_manufacturer_path(@pharm_manufacturer) %> |
<%= link_to 'Back', pharm_manufacturers_path %>
