<%= form_for(@medications_rx_norm) do |f| %>
  <% if @medications_rx_norm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medications_rx_norm.errors.count, "error") %> prohibited this medications_rx_norm from being saved:</h2>

      <ul>
      <% @medications_rx_norm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ndc %><br>
    <%= f.text_field :ndc %>
  </div>
  <div class="field">
    <%= f.label :medname %><br>
    <%= f.text_field :medname %>
  </div>
  <div class="field">
    <%= f.label :minstock %><br>
    <%= f.text_field :minstock %>
  </div>
  <div class="field">
    <%= f.label :pharmmanufacturersphid %><br>
    <%= f.number_field :pharmmanufacturersphid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
