<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@medications_rx_norm) do |f| %>
      <% if @medications_rx_norm.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@medications_rx_norm.errors.count, "error") %> prohibited this medications_rx_norm from being saved:</h2>
    
          <ul>
          <% @medications_rx_norm.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="field">
        <%= f.label "RxNorm NDC" %><br>
        <%= f.text_field :ndc, class: 'form-control', :placeholder => "Enter only if Medication Name is unavailable." %>
      </div>
      <div class="field">
        <%= f.label "Medication Name" %><br>
        <%= f.text_field :medname, class: 'form-control', :placeholder => "Enter only if Rx NDC is unavailable." %>
      </div>
      <div class="field">
        <%= f.label "Minimum Stock" %><br>
        <%= f.text_field :minstock, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Pharmaceutical Manufacturer ID" %><br>
        <%= collection_select(:medications_rx_norm, :pharmmanufacturersphid, PharmManufacturer.all, :phid, :manufacturer) %>
      </div>
      <div class="actions">
        <%= f.submit "Create Medication Rx Norm", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>