<p id="notice"><%= notice %></p>

<h1>Listing Medications Rx Norms</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>RxNorm NDC</th>
      <th>Medication Name</th>
      <th>Minimum Stock</th>
      <th>Pharmaceutical Manufacturer ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medications_rx_norms.each do |medications_rx_norm| %>
      <tr>
        <td><%= medications_rx_norm.ndc %></td>
        <td><%= medications_rx_norm.medname %></td>
        <td><%= medications_rx_norm.minstock %></td>
        <td><%= medications_rx_norm.pharmmanufacturersphid %></td>
        <td><%= link_to 'Show', medications_rx_norm %></td>
        <td><%= link_to 'Edit', edit_medications_rx_norm_path(medications_rx_norm) %></td>
        <td><%= link_to 'Destroy', medications_rx_norm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medications rx norm', new_medications_rx_norm_path %>
