<p id="notice"><%= notice %></p>

<p>
  <strong>Ndc:</strong>
  <%= @medications_rx_norm.ndc %>
</p>

<p>
  <strong>Medname:</strong>
  <%= @medications_rx_norm.medname %>
</p>

<p>
  <strong>Minstock:</strong>
  <%= @medications_rx_norm.minstock %>
</p>

<p>
  <strong>Pharmmanufacturersphid:</strong>
  <%= @medications_rx_norm.pharmmanufacturersphid %>
</p>

<%= link_to 'Edit', edit_medications_rx_norm_path(@medications_rx_norm) %> |
<%= link_to 'Back', medications_rx_norms_path %>
