<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= "Patient ID" %><br>
    <%= f.number_field :ptid %>
  </div>
  <div class="field">
    <%= "First Name" %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= "Last Name" %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= "Gender" %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= "Date of Birth" %><br>
    <%= f.text_field :dob %>
  </div>
  <div class="field">
    <%= "Address" %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= "City" %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= "State" %><br>
    <%= select_tag :state, options_for_select([['AL', 1], ['AK', 2], ['AZ', 3], ['CA', 4]]) %>
  </div>
  <div class="field">
    <%= "ZIP Code" %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
