<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@patient) do |f| %>
      <% if @patient.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>
    
          <ul>
          <% @patient.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="field">
        <%= "Patient ID" %><br>
        <%= f.number_field :ptid, class: 'form-control' %>
      </div>
      <div class="field">
        <%= "First Name" %><br>
        <%= f.text_field :firstname, class: 'form-control' %>
      </div>
      <div class="field">
        <%= "Last Name" %><br>
        <%= f.text_field :lastname, class: 'form-control' %>
      </div>
      <div class="field">
        <%= "Gender" %><br>
        <%= f.text_field :gender, class: 'form-control' %>
      </div>
      <div class="field" id="dob-field">
        <%= "Date of Birth" %><br>
        <%= f.text_field :dob, class: 'form-control', class: 'datepicker', 'data-behaviour' => 'datepicker' %>
        <script type="text/javascript">
          $('[data-behaviour~=datepicker]').datepicker();
        </script>
        <script type="text/javascript">
          $(document).ready(function(){
            $('.datepicker').datepicker();
          });
        </script>
      </div>
      <div class="field">
        <%= "Address" %><br>
        <%= f.text_field :address, class: 'form-control' %>
      </div>
      <div class="field">
        <%= "City" %><br>
        <%= f.text_field :city, class: 'form-control' %>
      </div>
      <div class="field">
        <%= "State" %><br>
        <%= f.select :state, options_for_select([['AL', 'AL'], ['AK', 'AK'], ['AZ', 'AZ'], ['AR', 'AR'], ['CA', 'CA'], ['CO', 'CO'], ['CT', 'CT'], ['DE', 'DE'], ['FL', 'FL'], ['GA', 'GA'], ['HI', 'HI'], ['ID', 'ID'], ['IL', 'IL'], ['IN', 'IN'], ['IA', 'IA'], ['KS', 'KS'], ['KY', 'KY'], ['LA', 'LA'], ['ME', 'ME'], ['MD', 'MD'], ['MA', 'MA'], ['MI', 'MI'], ['MN', 'MN'], ['MS', 'MS'], ['MO', 'MO'], ['MT', 'MT'], ['NE', 'NE'], ['NV', 'NV'], ['NH', 'NH'], ['NJ', 'NJ'], ['NM', 'NM'], ['NY', 'NY'], ['NC', 'NC'], ['ND', 'ND'], ['OH', 'OH'], ['OK', 'OK'], ['OR', 'OR'], ['PA', 'PA'], ['RI', 'RI'], ['SC', 'SC'], ['SD', 'SD'], ['TN', 'TN'], ['TX', 'TX'], ['UT', 'UT'], ['VT', 'VT'], ['VA', 'VA'], ['WA', 'WA'], ['WV', 'WV'], ['WI', 'WI'], ['WY', 'WY']], @patient.state) %>
      </div>
      <div class="field">
        <%= "ZIP Code" %><br>
        <%= f.text_field :zip, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit "Create Patient", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>