<p id="notice"><%= notice %></p>

<p>
  <strong>Ptid:</strong>
  <%= @patient.ptid %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @patient.firstname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @patient.lastname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @patient.state %>
</p>

<p>
  <strong>ZIP Code:</strong>
  <%= @patient.zip %>
</p>

<p>
  <strong>Dispensed Medications:</strong>
  <%= @patient.dispensed_meds %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @patient.inventory %>
</p>

<p>
  <strong>Medicine Name:</strong>
  <%= @patient.medicationsrxnormndc %>
</p>

<%= link_to('Scan New Medication', new_dispensed_med_path(patientid: @patient.ptid)) %> |
<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
