<p id="notice"><%= notice %></p>

<p>
  <strong>Ptid:</strong>
  <%= @patient.ptid %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @patient.firstname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @patient.lastname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @patient.state %>
</p>

<p>
  <strong>ZIP Code:</strong>
  <%= @patient.zip %>
</p>

<p>
  <strong>Dispensed Medications:</strong>
  <% @patient.dispensed_meds.each do |dispensed| %>
    <%= dispensed %>;
  <% end %>
</p>

<p>
  <strong>Inventory:</strong>
  <% @patient.inventory.each do |inv| %>
    <% inv.each do |i| %>
      <%= i %>; 
    <% end %>
  <% end %>
</p>

<p>
  <strong>Medicine Name:</strong>
  <% @patient.medicationsrxnormndc.each do |medication| %>
    <% medication.each do |med| %>
      <%= med %>; 
    <% end %>
  <% end %>
</p>

<!-- Add Modal for Scan New Medication -->
<%= link_to('Scan New Medication', new_dispensed_med_with_parameter_path(@patient.ptid)) %> |
<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
