<%= form_for(@dispensed_med) do |f| %>
  <% if @dispensed_med.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dispensed_med.errors.count, "error") %> prohibited this dispensed_med from being saved:</h2>

      <ul>
      <% @dispensed_med.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :disdate %><br>
    <%= f.date_select :disdate %>
  </div>
  <div class="field">
    <%= f.label :patientsid %><br>
    <%= f.number_field :patientsid %>
  </div>
  <div class="field">
    <%= f.label :inventoryid %><br>
    <%= f.number_field :inventoryid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
