<p id="notice"><%= notice %></p>

<h1>Listing Dispensed Meds</h1>

<table>
  <thead>
    <tr>
      <th>Disdate</th>
      <th>Patientsid</th>
      <th>Inventoryid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dispensed_meds.each do |dispensed_med| %>
      <tr>
        <td><%= dispensed_med.disdate %></td>
        <td><%= dispensed_med.patientsid %></td>
        <td><%= dispensed_med.inventoryid %></td>
        <td><%= link_to 'Show', dispensed_med %></td>
        <td><%= link_to 'Edit', edit_dispensed_med_path(dispensed_med) %></td>
        <td><%= link_to 'Destroy', dispensed_med, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dispensed med', new_dispensed_med_path %>
