<p id="notice"><%= notice %></p>

<h1>Listing Dispensed Meds</h1>

<table>
  <thead>
    <tr>
      <th>Dis date</th>
      <th>Patients ptid</th>
      <th>Inventory invid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dispensed_meds.each do |dispensed_med| %>
      <tr>
        <td><%= dispensed_med.dis_date %></td>
        <td><%= dispensed_med.patients_ptID %></td>
        <td><%= dispensed_med.inventory_invID %></td>
        <td><%= link_to 'Show', dispensed_med %></td>
        <td><%= link_to 'Edit', edit_dispensed_med_path(dispensed_med) %></td>
        <td><%= link_to 'Destroy', dispensed_med, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dispensed med', new_dispensed_med_path %>
