<p id="notice"><%= notice %></p>

<p>
  <strong>Dispense Date:</strong>
  <%= @dispensed_med.disdate %>
</p>

<p>
  <strong>Patient ID:</strong>
  <%= @dispensed_med.patientsid %>
</p>

<p>
  <strong>Patient Name:</strong>
  <% @dispensed_med.firstname.each do |first| %><%= first %> <% end %><% @dispensed_med.lastname.each do |last| %><%= last %><% end %>
</p>

<p>
  <strong>Inventory ID:</strong>
  <%= @dispensed_med.inventoryid %>
</p>

<p>
  <strong>Medicine Name:</strong>
  <% @dispensed_med.medname.each do |med| %>
    <%= med %>
  <% end %>
</p>

<%= link_to 'Edit', edit_dispensed_med_path(@dispensed_med) %> |
<%= link_to 'Back', patients_path %>
