<p id="notice"><%= notice %></p>

<p>
  <strong>Disdate:</strong>
  <%= @dispensed_med.disdate %>
</p>

<p>
  <strong>Patientsid:</strong>
  <%= @dispensed_med.patientsid %>
</p>

<p>
  <strong>Inventoryid:</strong>
  <%= @dispensed_med.inventoryid %>
</p>

<%= link_to 'Edit', edit_dispensed_med_path(@dispensed_med) %> |
<%= link_to 'Back', dispensed_meds_path %>
