<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http equiv "X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'pill.png', type: 'image/png' %>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https//js.stripe.com/v2/' %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
  <![endif]-->
  
  <% if @redirect_url %>
    <meta http-equiv='refresh' content='<%= @redirect_delay -%>;url=<%= @redirect_url -%>'>
  <% end %>
  
</head>
<body>
  
  <header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "RxMagic", root_url, id: "logo" %>
      </div>
      
      <!-- FIX THIS...NAVBAR DOES NOT COLLAPSE BACK -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_url %></li>
          <li><a href="help">Help</a></li>
          <li><a href="login">Login</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="col-sm-9">
      <%= yield %>
    </div>
    <br>
    <%= render 'shared/activities' %>
  </div>
  
  <footer class="footer">
    <small>
      The <a href="#/about">RxMagic Application</a>
      by <a href="#">Arielle Fisher</a>
      and <a href="#">Charles Kronk</a>
    </small>
    <nav>
      <ul>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="news">News</a></li>
      </ul>
    </nav>
  </footer>
  
  <!-- I think I can improve this script... perhaps with SimplyScroll... -->
  <script>
  //   function tick(){
  //     $('#activity_feed li:first').animate({'opacity':0}, 800, function () {
  //     $(this).appendTo($('#activity_feed')).css('opacity', 1); });
  //   }
  //   setInterval(function(){ tick () }, 10000);
  </script>
  
  <!-- Currently this doesn't work and that's really sad... -->
  <script type="text/javascript">
    (function($) {
    	$(function() { //on DOM ready
    		$("#scroller").simplyScroll({
    			customClass: 'vert',
    			orientation: 'vertical',
                auto: false,
                manualMode: 'loop',
    			frameRate: 20,
    			speed: 5
    		});
    	});
    })(jQuery);
  </script>
</body>
</html>
